<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        src="https://www.youtube.com/embed/aMAfkoR6BVo"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div id="peldak" class="tabcontent">
  <pre><code class="language-python">
      
  </code></pre>
</div>
<div id="feladatok" class="tabcontent">
  <b>1. Feladat</b><br />
  Thonny fejlesztői környezetben készíts egy rövid programot, amely
  <br /><br />
</div>
<div id="extra" class="tabcontent"></div>
<!-- test line -->
