.motivacio {
  font-size: 1.2rem;
  display: block;
  text-align: center;
}

.valasz-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.valasz-2 {
  text-align: center;
  letter-spacing: 0px;
  margin: 5px;
  width: 40%;
  font-size: 1.2rem;
  font-weight: unset;
  background-color: rgb(239, 255, 246);
  padding: 15px 25px;
  border-radius: 5px;
}

.red {
  background-color: rgb(255, 238, 238);
}

@media screen and (max-width: 600px) {
  .valasz-2 {
    width: 90%;
  }
}
