<div class="menu-title">Turtle haladóknak</div>

<span class="motivacio"
  >Tudod már mi az
  <span style="font-family: consolas">if-else</span> szerkezet?</span
>
<span class="motivacio">Használtál már ciklusokat és listákat?</span>
<br />
<div class="valasz-1">
  <div class="valasz-2 red">
    <b>Ha nem,</b> <br />
    akkor nézd át a SuliPY oldal 1-6. fejezeteit <br />
    majd térj ide vissza, <br />
    vagy <br />
    válaszd a Turtle kezdőknek menüpontot!
  </div>
  <div class="valasz-2">
    <b>Ha igen,</b> <br />
    akkor jó helyen jársz! <br />
    <br />
    Válaszd a baloldali menüből <br />
    az <b>Indul a Turtle</b> fejezetet!
  </div>
  <br /><br />
</div>
<app-fejlesztes-alatt></app-fejlesztes-alatt>
