.eredeti-dok {
  margin-top: 30px;
  text-align: center;
}

.eredeti-dok a {
  border: #24313d 1px solid;
  color: #ef306a;
  padding: 0px 5px;
  border-radius: 5px;
}

.eredeti-dok a:hover {
  color: #24313d;
}
