<div class="office-title">Bemutatkozás</div>
<div class="office-box">
  <div>
    Ez a portál a programozási alapok elsajátításában szeretné segíteni az
    érdeklődőket. Bár tartalmát tekintve igazodik a gimnázium programozási
    tananyagához, készítésekor fontos szempont volt, hogy alkalmas legyen
    iskolai kereteken kívüli önálló ismeretszerzésre is.
  </div>
  <br /><br />
  <div>
    Az oldal jelenleg is fejlesztés alatt áll. A cél az, hogy lefedje a teljes
    gimnáziumi programozási tananyagot, és segítsen az érettségire való
    felkészülésben, sőt ezt meghaladó mértékben is támogassa az ismeretszerzést,
    a továbblépést. A fejlesztés megvalósult, illetve tervezett ütemeiről a
    <a routerLink="/footer/naplo">Napló</a> menüpont alatt érhető el
    részletesebb információ.
  </div>
  <br /><br />
  <div class="thx-title"><b>Köszönetnyilvánítás</b></div>
  <div class="thx-container">
    <div class="logo"></div>
    <div class="thx">
      Ez az oldal valószínűleg nem jött volna létre, ha nincs Burján Károly
      tanár úr, aki az ajkai Bródy Imre Gimnáziumban először ültetett le egy
      HT-1080Z számítógép elé, és nagy odaadással tanította meg a Basic nyelv
      alapjait.
    </div>
  </div>
  <div class="thx-container">
    <div class="logo">
      <img src="./../../../../assets/images/BDEG.png" alt="" />
    </div>
    <div class="thx">
      Ezenkívül köszönettel tartozom a soproni
      <a href="https://www.bdeg.hu/hu" target="_blank"
        >Berzsenyi Dániel Evangélikus (Líceum) Gimnázium és Kollégium</a
      >
      diákjainak, akiknek kitartó lelkesedése és érdeklődése állandó motivációt
      jelent számomra a programozás tanítása kapcsán is.
    </div>
  </div>
</div>
