.thx-title {
  background: rgb(149, 177, 192);
  background: linear-gradient(
    90deg,
    rgba(149, 177, 192, 1) 2%,
    rgba(30, 65, 93, 1) 30%
  );
  color: #1e415d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.thx-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* padding: 0 30px; */
}
.logo img {
  height: 50px;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .thx-title {
    background: rgb(149, 177, 192);
    background: linear-gradient(
      90deg,
      rgba(149, 177, 192, 1) 2%,
      rgba(30, 65, 93, 1) 81%
    );
  }
}
