<div id="footer">
  <div class="link-container line">
    <div>
      <a href="https://sulipy.hu/footer/impresszum" target="_blank"
        >Impresszum</a
      >
    </div>
    <div>
      <a href="https://sulipy.hu/footer/bemutatkozas" target="_blank"
        >Bemutatkozás</a
      >
    </div>
    <div>
      <a href="https://sulipy.hu/footer/naplo" target="_blank">Napló</a>
    </div>
    <div>
      <a href="https://sulipy.hu/footer/tanaroknak" target="_blank"
        >Tanároknak</a
      >
    </div>
  </div>
  <div class="link-container-2">
    <div>
      <a href="https://sulipy.hu/footer/adatakezeles"
        >Adatkezelési tájékoztató</a
      >
    </div>
  </div>
  <div class="cright">Copyright &copy; 2021 | Minden jog fenntartva!</div>
</div>
