<div id="footer">
  <div class="link-container line">
    <div>
      <a routerLink="/footer/impresszum">Impresszum</a>
    </div>
    <div>
      <a routerLink="/footer/bemutatkozas">Bemutatkozás</a>
    </div>
    <div>
      <a routerLink="/footer/naplo">Napló</a>
    </div>
    <div>
      <a routerLink="/footer/tanaroknak">Tanároknak</a>
    </div>
  </div>
  <div class="link-container-2">
    <div>
      <a routerLink="/footer/adatkezeles">Adatkezelési tájékoztató</a>
    </div>
  </div>
  <div class="cright">Copyright &copy; 2021 | Minden jog fenntartva!</div>
</div>
