<div class="submenu-title">Turtle - mozgás</div>

<div>
  <b>Mozgás előre</b> (a Turtle állásának megfelelően) megadott értékkel
  <div class="t-code">
    turtle.forward(distance)<br />
    turtle.fd(distance) <br />
    distance(távolság): szám (int vagy float típus)
  </div>
  <br /><b>Mozgás hátra</b> (a Turtle állásához képest) meghatározott értékkel
  <div class="t-code">
    turtle.back(distance)<br />
    turtle.bk(distance)<br />
    turtle.backward(distance)<br />
    distance(távolság): szám (int vagy float típus)
  </div>
  <br /><b>Fordulás jobbra</b> (a Turtle állásához képest) megadott értékkel
  <div class="t-code">
    turtle.right(angle)<br />
    turtle.rt(angle)<br />
    angle(szög): szám (int vagy float típus). Az érték megadható szögben vagy
    radiánban.
  </div>
  <br /><b>Fordulás balra</b> (a Turtle állásához képest) meghatározott értékkel
  <div class="t-code">
    turtle.left(angle)<br />
    turtle.lt(angle)<br />
    angle(szög): szám (int vagy float típus). Az érték megadható szögben vagy
    radiánban.
  </div>
  <br /><b>Haladás a megadott pozícióig</b> az aktuális helyről
  <div class="t-code">
    turtle.goto(x, y=None)<br />
    turtle.setpos(x, y=None)<br />
    turtle.setposition(x, y=None)<br />
    x: szám / számpár / vektor y: szám / None <br />
    Ha a toll leengedett állapotban van, rajzol. Nem változtatja meg a Turtle
    orientációját.
  </div>
  <pre><code class="language-python">
  turtle.setpos(60,30)
  turtle.setpos((20,80))
  </code></pre>
  <br /><b>Adott koordináta felülírása</b> a másik változatlanul hagyása
  mellett.
  <div class="t-code">
    turtle.setx(szam)<br />
    turtle.sety(szam)<br />
    szam: szám (int vagy float típus)
  </div>
  <br /><b>Turtle orientációjának</b> megadása
  <div class="t-code">
    turtle.setheading(to_angle)<br />
    turtle.seth(to_angle)<br />
    to_angle(szöghöz): szám (int vagy float típus) Pl: 0 - kelet, 90 - észak,
    180 - nyugat, 270 - dél
  </div>
  <br /><b>Turtle kezdőpozícióba</b> (0;0) koordinátájú pontba, kezdő
  orientációba
  <div class="t-code">turtle.home()<br /></div>
  <br />Megadott számú utolsó <b>Turtle akció visszavonása</b>
  <div class="t-code">turtle.undo()<br /></div>
  A visszavonható akciók száma a tároló méretétől függ. <br />
  <br /><b>Turtle sebességének</b> megadása
  <div class="t-code">
    turtle.speed(speed=None)<br />
    speed(sebesség): 0 és 10 közötti szám
  </div>
  <br /><br />
</div>
