.space {
  min-height: 70px;
}

.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.link-container .icon {
  margin-right: 20px;
  align-self: baseline;
}

.link-container .description {
  color: var(--g-txt-base);
}

.tipp {
  margin-top: 20px;
  border-top: rgb(65, 65, 65) 1px solid;
  border-radius: 5px;
  padding: 0 10px 20px 10px;
  color: rgb(17, 167, 110);
}

.tipp span {
  font-family: "Courier New", Courier, monospace;
  color: aquamarine;
}
