<div class="submenu-title">Képek megjelenítése és mozgatása</div>
<app-gombsor3 (messageEvent)="receiveMessage($event)"></app-gombsor3>

<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/EFNANHiqeNs"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="space"></div>
  <a href="https://opengameart.org/" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>OpenGameArt</b> <br />
        Egy honlap, amely különböző felhasználási feltételekkel biztosít
        ingyenesen letölthető képcsomagokat (háttér, karakter, egyéb játékelemek
        ...), hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://kenney.nl/assets?q=2d" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Kenney</b> <br />
        Egy honlap, amely ingyenesen kínál 2D és 3D képcsomagokat,
        hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://www.gameart2d.com/freebies.html" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Game Art 2d</b> <br />
        Egy honlap, amely ingyenesen is kínál 2D képcsomagokat.
      </div>
    </div></a
  >
</div>

<div id="peldak" class="tabcontent">
  <div class="source-code-box">
    <a href="https://sulipy.hu//depo/source_code/game/2.2.zip"
      ><button class="source-code">Forrásfájlok letöltése</button></a
    >
  </div>
  <pre><code class="language-python">
  import pygame

  WIDTH, HEIGHT = 800, 400
  BG_COLOR = (140, 137, 246)
  BIRD_SPEED = 5
  
  pygame.init()
  screen = pygame.display.set_mode((WIDTH, HEIGHT))
  clock = pygame.time.Clock()
  bird_surf = pygame.image.load('img/bird1.png').convert_alpha()
  bird_x = 0
  bird_y = 200
  
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
  
      screen.fill(BG_COLOR)
      bird_x += BIRD_SPEED
      screen.blit(bird_surf, (bird_x, bird_y))
      pygame.display.update()
      clock.tick(60)
  
  pygame.quit()
  </code></pre>
</div>

<div id="feladatok" class="tabcontent">
  <b>1. Feladat</b><br />
  Fejleszd tovább a videóban bemutatott - és a Példák részben letölthető - kódot
  úgy, hogy a madár ne repüljön ki a képernyő jobb oldalán!

  <br /><br />
</div>
