.title {
  background-color: var(--g-bg-secondary);
  color: var(--g-bg);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  padding: 15px 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.text {
  text-align: center;
}

/* ----------- cards --------------------- */
.card-container {
  display: flex;
  justify-content: center;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
  display: flex;
  align-items: center;
}

.flip-card-back p {
  margin: 0 10px;
}

.flip-card-front,
.flip-card-back {
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #24313d;
  background-color: var(--g-bg);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #24313d;
  background-color: var(--g-bg);
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.ready {
  font-size: 2rem;
  font-weight: 700;
  color: var(--g-txt-1);
}

.social-box {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.social-txt {
  text-align: center;
  width: 500px;
}
.social-txt a {
  border: #24313d 1px solid;
  color: #ef306a;
  /* background-color: #01d309;
  color: white; */
  /* background-color: #24313d;
  color: #ef306a; */
  padding: 0px 5px;
  border-radius: 5px;
}

.social-txt a:hover {
  color: #24313d;
}

.card-container-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.2rem;
    padding: 10px 15px;
  }
  .text {
    margin-bottom: 30px;
  }
  .card-container {
    display: none;
  }
  .card-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
  }
  .card-container-mobile img {
    height: auti;
    width: 90%;
    margin-right: 10px;
  }
  .card-container-mobile .text-container {
    color: var(--g-txt-1);
    font-size: 1.5rem;
    margin: 20px 0px 40px 0px;
  }
  .align-right .text-container {
    text-align: right;
  }
  .align-right img {
    margin-right: 0px;
    margin-left: 10px;
  }
}
