<div class="title">Játékfejlesztés Pythonban</div>

<div class="card-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="./../../../assets/images/Gorilla.png"
          alt="Avatar"
          style="width: auto; height: 100%"
        />
      </div>
      <div class="flip-card-back">
        <div class="ready">Készen állsz?!</div>
      </div>
    </div>
  </div>
  <!-- <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="./../../../assets/images/doc.png"
          alt="Avatar"
          style="width: auto; height: 150px"
        />
      </div>
      <div class="flip-card-back">
        <h3>Dokumentáció</h3>
        <p>
          Az eredeti dokumentáció kivonata magyarul, érthetően, áttekinthetően.
        </p>
      </div>
    </div>
  </div> -->
</div>

<div class="card-container-mobile">
  <img src="./../../../assets/images/Gorilla.png" alt="" />
  <div class="text-container">Készen állsz?!</div>
</div>

<div class="social-box">
  <div class="social-txt">
    Ha szeretnél értesülni a tartalom bővüléséről, jelöld meg követésre a suliPY
    <a href="https://www.facebook.com/Sulipy-106846017889800" target="_blank"
      >Facebook</a
    >
    oldalt, és iratkozz fel a
    <a
      href="https://www.youtube.com/channel/UCQyut5y2NnWs_OKD35SWdMw"
      target="_blank"
      >YouTube</a
    >
    csatornára!
  </div>
</div>
