<div class="title">Turtle graphics</div>
<div class="text">Hogy lásd, mit csinál a kód!</div>
<div class="card-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="./../../../assets/images/course.png"
          alt="Avatar"
          style="width: auto; height: 150px"
        />
      </div>
      <div class="flip-card-back">
        <h3>Tanfolyam</h3>
        <p>
          Videók az új ismeretekhez, példák összefoglalásként, feladatok
          gyakorláshoz ... kezdőknek és haladóknak külön-külön.
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="./../../../assets/images/doc.png"
          alt="Avatar"
          style="width: auto; height: 150px"
        />
      </div>
      <div class="flip-card-back">
        <h3>Dokumentáció</h3>
        <p>
          Az eredeti dokumentáció kivonata magyarul, érthetően, áttekinthetően.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card-container-mobile">
  <div class="img-container">
    <img src="./../../../assets/images/course-mini.png" alt="" />
  </div>
  <div class="text-container">
    <p>
      <b class="sub-title">Tanfolyam</b><br />
      Videók az új ismeretekhez, példák összefoglalásként, feladatok
      gyakorláshoz ... kezdőknek és haladóknak külön-külön.
    </p>
  </div>
</div>
<div class="card-container-mobile align-right">
  <div class="text-container">
    <p>
      <b class="sub-title">Dokumentáció</b><br />
      Az eredeti dokumentáció kivonata magyarul, érthetően, áttekinthetően.
    </p>
  </div>
  <div class="img-container">
    <img src="./../../../assets/images/doc-mini.png" alt="" />
  </div>
</div>

<div class="social-box">
  <div class="social-txt">
    Ha szeretnél értesülni a tartalom bővüléséről, jelöld meg követésre a suliPY
    <a href="https://www.facebook.com/Sulipy-106846017889800" target="_blank"
      >Facebook</a
    >
    oldalt, és iratkozz fel a
    <a
      href="https://www.youtube.com/channel/UCQyut5y2NnWs_OKD35SWdMw"
      target="_blank"
      >YouTube</a
    >
    csatornára!
  </div>
</div>
