<div class="submenu-title">Hol kezd el?</div>
<div>
  <div class="question">
    Ismered a Python nyelv alapjait? <br />
    Tudod mi az az if-else szerkezet? Használtál már ciklusokat és listákat?
  </div>
  <div class="answer">
    Ebben az esetben már rendelkezel azokkal az alapokkal, amelyekkel rögtön
    bele is vághatsz!
    <br /><br />
    Kezd az <a [routerLink]="['/alapok']">Alapok</a> fejezettel!
  </div>
  <div class="question">
    Még nem programoztál? <br />
    Vagy már van némi tapsztalatod, de még nem ismered a Python nyelvet?
  </div>
  <div class="answer">
    Ebben az esetben a programozás és a Python nyelv alapjaival érdemes kezdeni.
    <br />
    <br />
    De ez nem probléma, és nem is vesz sok időt igénybe! <br />
    Ugorj a
    <a href="https://sulipy.hu" target="_blank"><span>SuliPY</span></a>
    főoldalára, és tanulmányozd át az <b>első 6 fejezetet</b> (listákkal
    bezárólag)! <br /><br />
    Ne rohanj, legyenek biztos alapjaid, azokra könnyebb építeni! <br /><br />
    - Nézd meg a videókkat, próbáld ki az abban látottakat! <br />
    - A példakódok segítenek az új ismeretek rögzítésében. <br />
    - A feladatok révén begyakorolhatod a tanultakat. <br />
    - Az Extra részben pedig további érdekességekre lelsz.
  </div>
</div>
