<div class="submenu-title">Turtle-események</div>

<div>
  <b>Egérgomb lenyomása</b>
  <div class="t-code">
    turtle.onclick(fun, btn=1, add=None)<br />
    <br />
    fun: két paraméterrel rendelkező függvény, amely akkor kerül hívásra, ha a
    megadott koordinátájú pontra klikkelünk az egérrel <br />
    btn: ez egérgomb száma, alapértelmezett érték az 1 (bal egérgomb) <br />
    add: True vagy False – ha True, új esemény kerül hozzárendelésre, különben
    felváltja a korábbi hozzárendelést
  </div>
  <pre><code class="language-python">
  def turn(x, y):
      left(180)

  onclick(turn)  # A pontra kattintva megfordul a teknőc
  onclick(None)  # Az esemény hozzárendelése törlődik
  </code></pre>

  <br /><b>Egérgomb felengedés</b>
  <div class="t-code">
    turtle.onrelease(fun, btn=1, add=None) <br />
    <br />
    fun: két paraméterrel rendelkező függvény, amely akkor kerül hívásra, ha a
    megadott koordinátájú pontra klikkelünk az egérrel <br />
    btn: ez egérgomb száma, alapértelmezett érték az 1 (bal egérgomb) <br />
    add: True vagy False – ha True, új esemény kerül hozzárendelésre, különben
    felváltja a korábbi hozzárendelést
  </div>
  <pre><code class="language-python">
  class MyTurtle(Turtle):
      def glow(self,x,y):
          self.fillcolor("red")
      def unglow(self,x,y):
          self.fillcolor("")

  turtle = MyTurtle()
  turtle.onclick(turtle.glow)     # az egérgomb lenyomásának hatására a kitöltőszín piros lesz
  turtle.onrelease(turtle.unglow) # felengedéskor átlátszó
  </code></pre>

  <br /><b>Teknős "vonszolása"</b>
  <div class="t-code">
    turtle.ondrag(fun, btn=1, add=None) <br />
    <br />
    fun: két paraméterrel rendelkező függvény, amely akkor kerül hívásra, ha a
    megadott koordinátájú pontra klikkelünk az egérrel <br />
    btn: ez egérgomb száma, alapértelmezett érték az 1 (bal egérgomb) <br />
    add: True vagy False – ha True, új esemény kerül hozzárendelésre, különben
    felváltja a korábbi hozzárendelést
  </div>
  Megjegyzés: A teknős minden egérmozgatási eseménysorozatát megelőzi egy
  egérkattintásos esemény az adott teknősön.
  <pre><code class="language-python">
  turtle.ondrag(turtle.goto)
  </code></pre>
  A teknősre kattintva, majd annak húzásával áthelyezheti a képernyőn, ezáltal
  kézzel rajzolva (ha a toll le van nyomva).
</div>
<br /><br />
