<div class="office-title">Napló</div>
<div class="office-box">
  Ha szeretnél értesülni a tartalom bővüléséről, jelöld meg követésre a suliPY
  <a href="https://www.facebook.com/Sulipy-106846017889800" target="_blank"
    >Facebook</a
  >
  oldalt, és iratkozz fel a
  <a
    href="https://www.youtube.com/channel/UCQyut5y2NnWs_OKD35SWdMw"
    target="_blank"
    >YouTube</a
  >
  csatornára!<br /><br />
</div>
<div class="office-box">
  <div class="subt">Tervezett fejlesztés</div>
  <div class="naplo-box">
    <div class="datum">2021. október</div>
    <div class="utem">A gimnázium 11. évfolyam programozási tananyaga</div>
  </div>
  <div class="naplo-box"></div>
  <div class="naplo-box">
    <div class="datum">2021. szeptember</div>
    <div class="utem">Meglepetés: egy új aloldal premierje</div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. augusztus</div>
    <div class="utem">Kivételek, fájlkezelés</div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. július</div>
    <div class="utem">
      A suliPY oldalon megjelent 10. évfolyamos tananyag összehangolása a
      megjelenő tankönyvvel.
    </div>
  </div>

  <div class="spacer"></div>
  <div class="subt">Megvalósult fejlesztés</div>
  <div class="naplo-box">
    <div class="datum">2021. június 8.</div>
    <div class="utem">
      <a routerLink="/oop/alapelvei">10.3 OOP alapelvei</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. június 7.</div>
    <div class="utem">
      <a routerLink="/oop/osztalyok_jellemzoi">10.2 Osztályok jellemzői</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. június 6.</div>
    <div class="utem">
      <a routerLink="/oop/osztaly_objektum">10.1 Osztályok és objektumok</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. június 1.</div>
    <div class="utem">
      <a routerLink="/adattipusok/tuple">9.5 Tuple</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 23.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2021. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 19.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2021. májusi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 10.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >18. Színkódok, színpaletták, színátmenetek</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 9.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >17. Háttérkép</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 5.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >16. Igazítás flex container-rel</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 4.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >15. Block és inline elemek</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. május 2.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >14. Képek a honlapon</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 29.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >13. Honlapelemek igazítása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 27.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >12. Reszponzív honlap Bootstrap-pel</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 25.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >11. Reszponzív honlapokról röviden</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 22.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2019. októberi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 21.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >10. Bootstrap első lépések</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 19.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2015. októberi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 18.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >09. CSS osztályok a gyakorlatban</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 15.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >08. CSS szelektorok</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 13.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >07. CSS alapok II.</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. április 10.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >06. CSS alapok</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 31.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >03. Visual Studio Code telepítése</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 30.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >05. További HTML tag-ek</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 23.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >04. Legalapvetőbb HTML tag-ek</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 17.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2020. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 16.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >02. Szerverekről röviden</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 13.</div>
    <div class="utem">
      <a href="https://webterkep.sulipy.hu/" style="color: #ff7043 !important"
        >WebTérkép aloldal indulása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 06.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2015. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. március 02.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2018. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 25.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2017. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 23.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2019. májusi idegen nyelvű feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 19.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2016. májusi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 18.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2017. októberi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 17.</div>
    <div class="utem">
      <a [routerLink]="['/adattipusok', 'halmaz']">9.4 Halmaz</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 14.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: 2019. májusi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 12.</div>
    <div class="utem">
      <a [routerLink]="['/erettsegi']" style="color: #6bdd36 !important"
        >Informatika érettségi: programozás, 2020 októberi feladat megoldása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 11.</div>
    <div class="utem">
      <a [routerLink]="['/adattipusok', 'szotar_gyakorlatban']"
        >9.3 Szótár a gyakorlatban</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 10.</div>
    <div class="utem">
      <a [routerLink]="['/adattipusok', 'szotar']">9.2 Szótár</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 8.</div>
    <div class="utem">
      <a [routerLink]="['/adattipusok', 'listakat_tartalmazo_listak']"
        >9.1 Listákat tartalmazó listák</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 7.</div>
    <div class="utem">
      <a [routerLink]="['/szoftverkornyezet', 'pycharm_telepitese']"
        >2.5 PyCharm - első lépések</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. február 5.</div>
    <div class="utem">
      <a
        [routerLink]="['/eljarasok_fuggvenyek', 'fuggveny']"
        [queryParams]="{ tab: 'video' }"
        >8.2 Függvény</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 30.</div>
    <div class="utem">
      <a
        [routerLink]="['/eljarasok_fuggvenyek', 'eljaras']"
        [queryParams]="{ tab: 'video' }"
        >8.1 Eljárás</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 24.</div>
    <div class="utem">
      <a
        [routerLink]="['/listak', 'listaelemek_lekepezese']"
        [queryParams]="{ tab: 'video' }"
        >6.4 Listaelemek leképezése</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 20.</div>
    <div class="utem">
      <a
        [routerLink]="['/elagazasok', 'veletlenszamok']"
        [queryParams]="{ tab: 'extra' }"
        >4.3 Véletlenszámok &#8811; Extra: Random modul</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 16.</div>
    <div class="utem">
      <a routerLink="/alapveto_algoritmusok/szelsoertek"
        >7. Alapvető algoritmusok &#8811; Szélsőérték meghatározása</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 12.</div>
    <div class="utem">
      <a
        href="https://www.youtube.com/channel/UCQyut5y2NnWs_OKD35SWdMw/playlists"
        target="_blank"
        >Youtube csatornára</a
      >
      felkerült valamennyi videó HD (1080p) minőségben, lejátszási listákba
      rendezve. A 720p felbontású videók egy külön listában továbbra is
      elérhetőek.
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 10.</div>
    <div class="utem">
      <a routerLink="/alapveto_algoritmusok/szamlalas"
        >7. Alapvető algoritmusok &#8811; Számlálás</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2021. január 2.</div>
    <div class="utem">
      <a routerLink="/puska">Puska</a> aloldal átalakítása annak érdekében, hogy
      bővülő tartalom mellett is áttekinthető maradjon. <br /><br />
      <a [routerLink]="['/puska']" [queryParams]="{ tab: 'print' }"
        >Puska &#8811; print</a
      >
      formázott kiíratás lehetőségei <br /><br />
      <a [routerLink]="['/puska']" [queryParams]="{ tab: 'random' }"
        >Puska &#8811; random</a
      >
      A Random modul choice( ) metódusa
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2020. december 20.</div>
    <div class="utem">
      <a routerLink="/alapveto_algoritmusok/kereses"
        >7. Alapvető algoritmusok &#8811; Eldöntés, keresés, kiválasztás</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2020. december 13.</div>
    <div class="utem">
      <a routerLink="/alapveto_algoritmusok/osszegzes"
        >7. Alapvető algoritmusok &#8811; Összegzés</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2020. december 6.</div>
    <div class="utem">
      <a routerLink="/listak/listak_metodusai">Listák metódusai</a>
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2020. november 29.</div>
    <div class="utem">
      <a routerLink="/szoftverkornyezet/vscode_telepitese"
        >2.4 Visual Studio Code telepítése</a
      >
    </div>
  </div>
  <div class="naplo-box">
    <div class="datum">2020. november 10.</div>
    <div class="utem">
      Az oldal indulása
      <br />
      A gimnázium 9. évfolyam programozási tananyaga: 1-6. fejezet
    </div>
  </div>
</div>
