<div class="submenu-title">Turtle a Python tanításban</div>
<div>
  <span class="alcim">Mi az a Turtle?</span>
  <p>
    A teknőcgrafika része volt az 1967-ben megjelent Logo programozási nyelvnek,
    és már régóta elérhető a Pythonban is. Egy ablakban a Python kódunk
    segítségével irányíthatjuk egy vagy több teknőc mozgását, amelyek a haladás
    közben vonalat húznak, így tulajdonképpen rajzolhatunk a képernyőre.
  </p>

  <span class="alcim">A használatáról</span>
  <p>
    A használata rendkívül egyszerű, mivel a telepített Python része a Turtle,
    így csak annyi szükséges, hogy a kódunk elején elhelyezünk egy
    <span class="t-code2">import turtle</span>
    utasítást. A teknőc mozgását metódusok hívásával tudjuk irányítani pl. a
    <span class="t-code2">turtle.forward(150)</span> hatására a teknőcünk 150
    pixel távolságot tesz meg előre, miközben alapesetben vonalat húz maga után.
    Természetesen megadhatjuk a vonal színét, vastagságát, vagy akár dönthetünk
    úgy is, hogy éppen ne rajzoljon vonalat. Ciklusok használata révén pedig
    létrehozhatunk bonyolultabb alakzatokat is, amelyeket a megadott színnel
    akár ki is tölthetünk.
  </p>

  <span class="alcim">Miért jó?</span>
  <p>
    A kódolással ismerkedő rögtön megfigyelheti az általa írt algoritmus
    működését, könnyen felfedezheti és javíthatja az esetleges hibákat.
    Bonyolultabb alakzatok megjelenítése pedig motivációt jelenthet az
    összetettebb vezérlési szerkezetek megismerésére és megalkotására.
    Turtle-lel készíthetünk akár egyszerűbb grafikus felületű játékokat is, ami
    szintén ösztönzőleg hathat a diákokra.
  </p>

  <span class="alcim">Kinek ajánlott?</span>
  <p>
    A Turtle révén megvalósíthatjuk a programozás iránt érdeklődő diákok
    tehetséggondozását, hiszen számukra remek kihívást jelenthet egy-egy
    kitűzött cél megvalósítása. Másrészt vannak olyan diákok is, akik a
    közvetlen grafikus visszacsatolás révén könnyebben megértik a kód működését.
  </p>

  <span class="alcim">Turtle a SuliPY-on</span><br />
  Elkészült a SuliPY teknőcgrafikával foglalkozó aloldala, amely
  <ul>
    <li>
      a <b>kezdőket</b>*, akik épp csak megismerkedtek a Python alapokkal,
      vezeti be a Turtle használatába,
    </li>
    <li>
      egy másik videósorozat* a <b>haladóknak</b> szól, akik már ismerik a
      vezérlési szerkezeteket és ciklusokat*,
    </li>
    <li>
      a videók mellett - a már megszokott módon - itt is <b>példák</b> segítik
      az összefoglalást, <b>feladatok</b> pedig a gyakorlást,
    </li>
    <li>
      az aloldal tartalmaz egy <b>magyar nyelvű dokumentációt</b> is, ami
      könnyen <b>áttekinthető szerkezetével</b> igyekszik segíteni az önálló
      ismeretszerzését azon diákoknak is, akiket esetleg az angol nyelvű, kicsit
      nehezen átlátható eredeti dokumentáció elriasztana, ezen kívül pedig a
      főoldal példatára is kiegészült Turtle feladatokkal.
    </li>
    <li>
      A tervek szerint őszre a SuliPY oldal feladatai kiegészülnek Turtle
      programozási feladatokkal is, így a diákok azon is be tudják gyakorolni az
      új ismereteket.
    </li>
  </ul>
  <span style="font-style: italic"
    >* A videósorozatok folyamatosan bővülnek.</span
  >
  <br /><br /><br /><br />
</div>
