.alcim {
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin-top: 0px;
}

.t-code2 {
  font-family: consolas;
  background-color: rgb(239, 255, 246);
  display: inline-block;
  padding: 0px 5px;
}

ul {
  margin-top: 0px;
}
