<div class="submenu-title">Turtle állapotának lekérdezése és beállítása</div>

<div>
  <b>Pozíció</b>
  <div class="t-code">
    turtle.position()<br />
    turtle.pos()
  </div>
  <br /><b>Koordináta</b>
  <div class="t-code">
    turtle.xcor()<br />
    turtle.ycor()<br />
  </div>
  <br /><b>Orientáció</b>
  <div class="t-code">turtle.heading()<br /></div>
  <br /><b>Távolság</b> adott ponttól vagy egy másik Turtle-től
  <div class="t-code">turtle.distance(x, y=None)<br /></div>
  <br /><b>Turtle láthatósága</b>

  <div class="t-code">turtle.isvisible()</div>
  <br />
  <hr />
  <br />
  <b>Turtle elrejtése</b>
  <div class="t-code">
    turtle.hideturtle()<br />
    turtle.ht()
  </div>
  <br /><b>Turtle megjelenítése</b>
  <div class="t-code">
    turtle.showturtle()<br />
    turtle.st()
  </div>
  <br /><b>Turtle-alak</b>
  <div class="t-code">
    turtle.shape(name=None)<br />
    name(név): "arrow", "turtle", "circle", "square", "triangle", "classic"
  </div>
  <br /><b>Turtle-méret</b>
  <div class="t-code">
    turtle.resizemode(rmode=None)<br />
    rmode: "auto" (tollmérettől függő), "user" (strecthfactor -
    nyújtásifaktortól, és körvonal szélességtől függő), "noresize" (nem
    alkalmazkodik) <br /><br />
    turtle.shapesize(stretch_wid=None, stretch_len=None, outline=None)<br />
    turtle.turtlesize(stretch_wid=None, stretch_len=None, outline=None)<br />
    Ha a stretch_wid (nyújtási szélesség), stretch_len (nyújtási hosszúság) és
    outline (körvonal) nincs megadva, akkor ezen értékekkel tér vissza,
    ellenkező esetben ezek állíthatóak be.
  </div>
  <br /><br />
</div>
