<div class="submenu-title">Turtle Race 04</div>
<app-gombsor4 (messageEvent)="receiveMessage($event)"></app-gombsor4>

<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/TWQ3CmybaUY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div id="peldak" class="tabcontent">
  <pre><code class="language-python">
  import turtle
  import time
  
  MAX_X, MAX_Y = 400, 250
  WIDTH, HEIGHT = MAX_X * 2 + 80, MAX_Y * 2 + 20
  screen = turtle.Screen()
  screen.setup(width=WIDTH, height=HEIGHT)
  
  cel = turtle.Turtle()
  cel.penup()
  cel.setpos(MAX_X - 20, MAX_Y)
  cel.pendown()
  cel.pen(pencolor='black', pensize=7)
  cel.right(90)
  cel.forward(MAX_Y * 2)
    
  norris = turtle.Turtle()
  norris.shape('turtle')
  norris.shapesize(stretch_wid=2, stretch_len=2, outline=4)
  norris.pen(pencolor='blue', fillcolor='orange', pensize=9)
  norris.penup()
  norris.setpos(- MAX_X, 0)
  norris.pendown()
  norris.forward(MAX_X * 2)
  
  time.sleep(5)
  </code></pre>
</div>

<div id="feladatok" class="tabcontent">
  <b>1. Feladat</b><br />
  Alakítsd át úgy a videóban bemutatott programot (kód a Példák-nál elérhető),
  hogy a célvonal szaggatott legyen!

  <br /><br />
  <hr />
  <b>2. Feladat</b><br />
  Módosítsd a programot úgy, hogy legyen egy második teknős is eltérő
  beállításokkal, és az is tegye meg a távot!
  <br /><br /><br />
</div>
<div id="extra" class="tabcontent">
  <p>
    A különbözó programozási és egyéb kódoló nyelvekben más és más szabályok
    szerint nevezzük el a változókat. Különösen szembetűnő ez a különbség, ha
    több szó alkotja a változó nevét.
  </p>
  <p>
    <b>snake_case</b><br />
    A változó nevét alkotó szavakat aláhúzásjellel kötjük össze: megadott_szam.
    Így használjuk a Python, C nyelv, SQL nyelv esetében is.
  </p>
  <p>
    <b>camelCase</b><br />
    Az alkotó szavakat egybeírjuk, de a másodiktól kezdődően nagy kezdőbetűvel:
    megadottSzamReciproka. Ezt az írásmódot használja pédául a Java, JavaScript.
  </p>
  <p>
    <b>kebab-case</b><br />
    Az alkotó szavakat kötőjellel választjuk el: megadott-szam. Ezt az írásmódot
    használja a CSS nyelv.
  </p>
</div>
<p>race04 works!</p>
