<div class="menu-title">Hasznos linkek</div>
<a href="https://www.youtube.com/watch?v=AY9MnQ4x3zk&t=10329s" target="_blank"
  ><div class="link-container">
    <div class="icon">
      <img src="./../../../assets/images/g-headphone.svg" alt="" />
    </div>
    <div class="description">
      <b>The ultimate introduction to Pygame</b> <br />Egy majdnem 4 órás videó,
      amely talán az egyik legjobb bevezető a PyGame modul használatába. A
      videóban egy kis egyszerű játék készítését követhetjük nyomon, és ennek
      kapcsán lépésről lépésre elsajátíthatjuk az alapokat. Érthető és
      lényegretörő magyarázat, igényes tartalom.
    </div>
  </div></a
>

<a
  href="https://pygame.readthedocs.io/en/latest/1_intro/intro.html"
  target="_blank"
  ><div class="link-container">
    <div class="icon">
      <img src="./../../../assets/images/g-flag.svg" alt="" />
    </div>
    <div class="description">
      <b>Pygame Wiki Tutorials</b> <br />
      Érdemes böngészni az oldalon, mert bár nem túl átláhatóan szerkesztett a
      tartalom, de rengeteg hasznos segítséget nyújt a PyGame tanulásához:
      <ul>
        <li>Ismertetők</li>
        <li>Mintaprogramok (felső menüsáv: Projects)</li>
        <li>Új projektek, videók (jobb oldalsó menüsáv)</li>
      </ul>
    </div>
  </div></a
>
<a
  href="https://pygame.readthedocs.io/en/latest/1_intro/intro.html"
  target="_blank"
  ><div class="link-container">
    <div class="icon">
      <img src="./../../../assets/images/g-flag.svg" alt="" />
    </div>
    <div class="description">
      <b>Introduction to Pygame</b> <br />
      Egy honlap, amely kódrészletekkel és részletes magyarázattal teljesen az
      alapoktól vezet be a PyGame világába. A tartalom jól szerkesztett és
      könnyen áttekinthető.
    </div>
  </div></a
>
