<div class="menu-title">Hasznos linkek</div>
<a
  href="http://tehetseg.inf.elte.hu/jegyzetek/HBakonyi_versenyfeladatok_python.pdf"
  target="_blank"
  ><div class="link-container">
    H. Bakonyi Viktória: Versenyfeladatok Pythonban!
  </div></a
>

<a href="https://learn.codeavengers.com/python/100#1.1" target="_blank"
  ><div class="link-container">
    Angol nyelvű online kurzus: feladatok és kódszerkesztő
  </div></a
>

<a href="https://learn.codeavengers.com/python/100#1.1" target="_blank"
  ><div class="link-container">MálnaSuli cikke a Turtle-ről</div></a
>
