.button-line {
  padding: 0 25%;
  display: flex;
  flex-wrap: wrap;
}
.button {
  flex-grow: 1;
  /* flex-basis: 150px; */
  flex-basis: 50px;
  margin: 5px 5px;
  background-color: var(--g-hover);
  border: var(--bg-color) 3px solid;
  border-radius: 5px;
  /* height: 50px; */
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}
.button:active {
  background-color: var(--g-bg-secondary);
}
.active {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  border: var(--bg-color) 3px solid;
  background-color: var(--g-bg-secondary);
  /* box-shadow: rgb(161, 161, 161) 0px 3px 2px; */
  box-shadow: inset rgb(68, 67, 67) 0px 0px 15px;
}
.icon {
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
}
.button-text {
  color: var(--g-bg);
  text-align: center;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .button-line {
    justify-content: center;
  }
  .button {
    flex-basis: none;
    flex-grow: 1;
    margin: 4px 4px;
    max-width: 120px;
  }
  .button:hover {
    font-size: 16px;
  }
}
