<div class="button-line">
  <div class="button" (click)="onClick($event, 'video')" id="video-gomb">
    <div class="icon">
      <img src="./../../../../assets/images/g-video1.svg" alt="" />
    </div>
    <div class="button-text">Videó</div>
  </div>
  <div class="button" (click)="onClick($event, 'peldak')" id="peldak-gomb">
    <div class="icon">
      <img src="./../../../../assets/images/g-peldak1.svg" alt="" />
    </div>
    <div class="button-text">Példák</div>
  </div>
  <div
    class="button"
    (click)="onClick($event, 'feladatok')"
    id="feladatok-gomb"
  >
    <div class="icon">
      <img src="./../../../../assets/images/g-feladat1.svg" alt="" />
    </div>
    <div class="button-text">Feladatok</div>
  </div>
</div>
