<div class="submenu-title">Rajzolás, írás, törlés</div>

<div>
  <b>Tollat le</b>: rajzol
  <div class="t-code">
    turtle.pendown()<br />
    turtle.pd()<br />
    turtle.down()<br />
  </div>
  <br /><b>Tollat fel</b>: nem rajzol
  <div class="t-code">
    turtle.penup()<br />
    turtle.pu()<br />
    turtle.up()<br />
  </div>
  <br /><b>Toll lent</b>
  <div class="t-code">
    turtle.isdown()<br />
    True vagy False értékkel tér vissza, attól függően, hogy a toll lent van-e.
  </div>
  <br /><b>Vonalvastagság</b>
  <div class="t-code">
    turtle.pensize(width=None)<br />
    turtle.width(width=None)<br />
    width(szélesség): szám, ha nincs megadva, ennek aktuális értékével tér
    vissza
  </div>
  <br /><b>Toll beállíátása</b>
  <div class="t-code">
    turtle.pen(pen=None, **pendict)<br />
    pen(toll): szótár, az alábbiakban felsorolt kulcsokkal<br />
    pendict: kulcsszó-argumentum<br />
    "shown": True/False<br />
    "pendown": True/False<br />
    "pencolor": szín-sztring vagy szín-tuple<br />
    "fillcolor": szín-sztring or szín-tuple<br />
    "pensize": pozitív szám<br />
    "speed": szám 0 és 10 között<br />
    "resizemode": "auto" / "user" / "noresize"<br />
    "stretchfactor": (pozitív szám, pozitív szám)<br />
    "outline": pozitív szám<br />
    "tilt": szám<br />
  </div>
  Ez a szótár használható argumentumként egy későbbi pen() metódushíváshoz, vagy
  a korábbi tollállapot visszaállításához. Ezenfelül ezen attribútumok közül egy
  vagy több megadható kulcsszó-argumentumként. Ezzel több tollattribútum
  állítható be egy utasításban.
  <pre><code class="language-python">
  turtle.pen(fillcolor="black", pencolor="red", pensize=10)
  sorted(turtle.pen().items())
  penstate = turtle.pen()
  </code></pre>
  <br /><b>Szöveg kiírása</b>
  <div class="t-code">
    turtle.write(arg, move=False, align="left", font=("Arial", 8, "normal"))<br />
    arg: megjelenítendő szöveg <br />
    move: True/False <br />
    align: "left" / "center" / "right" font: tuple (betűtípus, betűméret,
    betűvastagság)
  </div>
  <pre><code class="language-python">
  turtle.write("Home = ", True, align="center")
  turtle.write((0,0), True)
  </code></pre>
  <br /><b>Törlés</b>
  <div class="t-code">
    turtle.reset()<br />
    Törli a rajzot, Turtle visszakerül az kiindulási pozícióba, és az
    alapértelmezett értékek kerülnek beállításra. <br /><br />
    turtle.clear() <br />
    Csak a rajzot törli, egyéb beállításokat nem módosít. <br /><br />
  </div>
  <br /><br />
</div>
