<div class="submenu-title">Irányítás egérrel</div>
<app-gombsor3 (messageEvent)="receiveMessage($event)"></app-gombsor3>

<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/FjV1JpaeEC0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="space"></div>
  <a href="https://opengameart.org/" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>OpenGameArt</b> <br />
        Egy honlap, amely különböző felhasználási feltételekkel biztosít
        ingyenesen letölthető képcsomagokat (háttér, karakter, egyéb játékelemek
        ...), hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://kenney.nl/assets?q=2d" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Kenney</b> <br />
        Egy honlap, amely ingyenesen kínál 2D és 3D képcsomagokat,
        hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://www.gameart2d.com/freebies.html" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Game Art 2d</b> <br />
        Egy honlap, amely ingyenesen is kínál 2D képcsomagokat.
      </div>
    </div></a
  >
</div>

<div id="peldak" class="tabcontent">
  <div class="source-code-box">
    <a href="https://sulipy.hu//depo/source_code/game/3.3.zip"
      ><button class="source-code">forrásfájlok letöltése</button></a
    >
  </div>

  Mosue input figyelésének két lehetősége
  <pre><code class="language-python">
  import pygame

  pygame.init()
  screen = pygame.display.set_mode((600, 300))
  clock = pygame.time.Clock()
  
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
          # mouse with event loop
          # if event.type == pygame.MOUSEMOTION:
          #     print(event.pos)
          # if event.type == pygame.MOUSEBUTTONDOWN:
          #     print('az egér gombja lenyomva')
  
      # pygame.mouse
      print('az egér pozíciója', pygame.mouse.get_pos())
      print('az egér gombja lenyomva', pygame.mouse.get_pressed())
      pygame.display.update()
      clock.tick(1)
  
  pygame.quit()
  </code></pre>
  <br /><br />
  Lufik célkeresztben
  <pre><code class="language-python">
  import pygame
  import random
  
  WIDTH = 1280
  HEIGHT = 620
  
  pygame.init()
  screen = pygame.display.set_mode((WIDTH, HEIGHT))
  clock = pygame.time.Clock()
  
  ballon_surf = pygame.image.load('img/ballon.png')
  ballons_rect = []
  for _ in range(5):
      ballon_rect = ballon_surf.get_rect(center=(random.randint(50, WIDTH - 50), random.randint(50, HEIGHT - 50)))
      ballons_rect.append(ballon_rect)
  
  crosshair_surf = pygame.image.load('img/crosshair.png')
  crosshair_rect = crosshair_surf.get_rect(center=(WIDTH / 2, HEIGHT / 2))
  
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
          if event.type == pygame.MOUSEMOTION:
              crosshair_rect = crosshair_surf.get_rect(center=(event.pos))
          if event.type == pygame.MOUSEBUTTONDOWN:
              for index, ballon_rect in enumerate(ballons_rect):
                  if ballon_rect.collidepoint(event.pos):
                      del ballons_rect[index]
  
      screen.fill((140, 137, 246))
  
      for ballon_rect in ballons_rect:
          screen.blit(ballon_surf, ballon_rect)
      screen.blit(crosshair_surf, crosshair_rect)
  
      pygame.display.update()
      clock.tick(60)
  
  pygame.quit()
  </code></pre>
</div>

<div id="feladatok" class="tabcontent">
  <b>1. Feladat</b><br />
  Fejleszd tovább a videóban bemutatott - és a Példák részben letölthető - kódot
  úgy, hogy hogy a lufik lassan emelkedjenek és kis mértékben oldalra is
  mozogjanak, illetve amikor elhagyják a játékablakot, akkor törlődjenek a
  listából!
  <br /><br />
  <hr />
  <b>2. Feladat</b><br />
  Fejleszd tovább úgy a kódot, hogy különböző színű lufik jelenjenek meg!
</div>
