<div class="submenu-title">Irányítás egérrel</div>
<app-gombsor3 (messageEvent)="receiveMessage($event)"></app-gombsor3>

<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/D2nf-EBVIKU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<div id="peldak" class="tabcontent">
  <div class="source-code-box">
    <a href="https://sulipy.hu//depo/source_code/game/3.3.zip"
      ><button class="source-code">forrásfájlok letöltése</button></a
    >
  </div>

  Mosue input figyelésének két lehetősége
  <pre><code class="language-python">
  import pygame

  pygame.init()
  screen = pygame.display.set_mode((600, 300))
  clock = pygame.time.Clock()
  
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
          # mouse with event loop
          # if event.type == pygame.MOUSEMOTION:
          #     print(event.pos)
          # if event.type == pygame.MOUSEBUTTONDOWN:
          #     print('az egér gombja lenyomva')
  
      # pygame.mouse
      print('az egér pozíciója', pygame.mouse.get_pos())
      print('az egér gombja lenyomva', pygame.mouse.get_pressed())
      print(pygame.mouse.get_pressed()[0])
  
      pygame.display.update()
      clock.tick(1)
  
  pygame.quit()    
  </code></pre>
  <br /><br />
  Lufik célkeresztben
  <pre><code class="language-python">
  import pygame
  import random
  
  WIDTH = 1280
  HEIGHT = 620
  
  pygame.init()
  screen = pygame.display.set_mode((WIDTH, HEIGHT))
  clock = pygame.time.Clock()
  
  balloon_surf = pygame.image.load('img/balloon.png').convert_alpha()
  balloons_rect = []
  for _ in range(5):
      balloon_rect = balloon_surf.get_rect(center=
        (random.randint(50, WIDTH - 50), random.randint(50, HEIGHT - 50)))
      balloons_rect.append(balloon_rect)
  
  crosshair_surf = pygame.image.load('img/crosshair.png').convert_alpha()
  crosshair_rect = crosshair_surf.get_rect(center=(WIDTH / 2, HEIGHT / 2))
  
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
          if event.type == pygame.MOUSEMOTION:
              crosshair_rect = crosshair_surf.get_rect(center=event.pos)
          if event.type == pygame.MOUSEBUTTONDOWN:
              for index, balloon_rect in enumerate(balloons_rect):
                  if balloon_rect.collidepoint(event.pos):
                      del balloons_rect[index]
  
      screen.fill((140, 137, 246))
  
      for balloon_rect in balloons_rect:
          screen.blit(balloon_surf, balloon_rect)
      screen.blit(crosshair_surf, crosshair_rect)
  
      pygame.display.update()
      clock.tick(60)
  
  pygame.quit()    
  </code></pre>
</div>

<div id="feladatok" class="tabcontent">
  <b>1. Feladat</b><br />
  Fejleszd tovább a videóban bemutatott - és a Példák részben letölthető - kódot
  úgy, hogy a lufik lassan emelkedjenek és kis mértékben oldalra is mozogjanak,
  illetve amikor elhagyják a játékablakot, akkor törlődjenek a listából!
  <br /><br />
  <hr />
  <b>2. Feladat</b><br />
  Fejleszd tovább úgy a kódot, hogy különböző színű lufik jelenjenek meg!
</div>
