<div class="menu-title">Platformjáték</div>
<div class="game-box">
  <div>
    <br />
    Ebben a részben már egy igazi platformjátékok készítünk. De nem csak ez lesz
    a lényeg! Programozási tapasztalatunk számos ismerettel bővül.
    <ul>
      <li>Foglalkozunk az objektumok függőségi viszonyaival.</li>
      <li>Biztosítjuk az adatcserét az objektumok között.</li>
      <li>
        Beszélünk követendő mintákról a szoftverarchitektúrával kapcsolatban.
      </li>
    </ul>
    Sok izgalmas téma és ismeret kerül elő, amelyek hasznosak lehetnek, amikor
    objektumorientált szemlélettel programozunk nem csak játékokat, és nem csak
    kizárólag Python nyelven.
    <br /><br />
  </div>
  <!-- <img id="ghost" src="./../../../../../assets/images/g-ghost.svg" alt="" />
  <img id="health" src="./../../../../../assets/images/g-health.svg" alt="" /> -->
</div>
