<div class="submenu-title">Játékelemek ütközésének figyelése</div>
<app-gombsor3 (messageEvent)="receiveMessage($event)"></app-gombsor3>

<div id="video" class="tabcontent">
  <div id="ytube">
    <div
      class="embed-responsive embed-responsive-16by9"
      style="max-width: 560px"
    >
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/B5rYfEgkI04"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="space"></div>
  <a href="https://opengameart.org/" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>OpenGameArt</b> <br />
        Egy honlap, amely különböző felhasználási feltételekkel biztosít
        ingyenesen letölthető képcsomagokat (háttér, karakter, egyéb játékelemek
        ...), hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://kenney.nl/assets?q=2d" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Kenney</b> <br />
        Egy honlap, amely ingyenesen kínál 2D és 3D képcsomagokat,
        hanganyagokat.
      </div>
    </div></a
  >

  <a href="https://www.gameart2d.com/freebies.html" target="_blank"
    ><div class="link-container">
      <div class="icon">
        <img src="./../../../assets/images/g-flag.svg" alt="" />
      </div>
      <div class="description">
        <b>Game Art 2d</b> <br />
        Egy honlap, amely ingyenesen is kínál 2D képcsomagokat.
      </div>
    </div></a
  >
</div>

<div id="peldak" class="tabcontent">
  <div class="source-code-box">
    <a href="https://sulipy.hu//depo/source_code/game/3.2.zip"
      ><button class="source-code">Forrásfájlok letöltése</button></a
    >
  </div>
  Madár és a lufi
  <pre><code class="language-python">
  import pygame

  WIDTH = 1280
  HEIGHT = 620
  SPEED = 5
  
  pygame.init()
  screen = pygame.display.set_mode((WIDTH, HEIGHT))
  clock = pygame.time.Clock()
  
  ballon = pygame.image.load('img/ballon.png').convert_alpha()
  ballon_rect = ballon.get_rect(center=(WIDTH - 100, HEIGHT / 2))
  
  bird_fw_1 = pygame.image.load('img/bird1.png').convert_alpha()
  bird_fw_2 = pygame.image.load('img/bird2.png').convert_alpha()
  bird_fw_3 = pygame.image.load('img/bird3.png').convert_alpha()
  bird_fw_4 = pygame.image.load('img/bird4.png').convert_alpha()
  birds_fw = [bird_fw_1, bird_fw_2, bird_fw_3, bird_fw_4]
  bird_b_1 = pygame.image.load('img/bird1back.png').convert_alpha()
  bird_b_2 = pygame.image.load('img/bird2back.png').convert_alpha()
  bird_b_3 = pygame.image.load('img/bird3back.png').convert_alpha()
  bird_b_4 = pygame.image.load('img/bird4back.png').convert_alpha()
  birds_b = [bird_b_1, bird_b_2, bird_b_3, bird_b_4]
  
  bird_x = WIDTH / 2
  bird_y = HEIGHT / 2
  bird_index = 0
  
  collision = False
  counter = 0
  forward = True
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
  
      keys = pygame.key.get_pressed()
      if keys[pygame.K_RIGHT] and bird_rect.right <= WIDTH:
          forward = True
          bird_x += SPEED
      elif keys[pygame.K_LEFT] and bird_rect.left >= 0:
          forward = False
          bird_x -= SPEED
  
      if keys[pygame.K_UP] and bird_rect.top >= 0:
          bird_y -= SPEED
      elif keys[pygame.K_DOWN] and bird_rect.bottom <= HEIGHT:
          bird_y += SPEED
  
      screen.fill((140, 137, 246))
      if not collision:
          screen.blit(ballon, ballon_rect)
  
      counter += 1
      if counter % 7 == 0:
          bird_index += 1
      if bird_index > len(birds_fw) - 1:
          bird_index = 0
  
      if forward:
          bird_rect = birds_fw[bird_index].get_rect(center=(bird_x, bird_y))
          screen.blit(birds_fw[bird_index], bird_rect)
      else:
          bird_rect = birds_b[bird_index].get_rect(center=(bird_x, bird_y))
          screen.blit(birds_b[bird_index], bird_rect)
  
      if ballon_rect.colliderect(bird_rect):
          collision = True
  
      pygame.display.update()
      clock.tick(60)
  
  pygame.quit()
  </code></pre>
  <br /><br />
  Madár és az 5 lufi
  <pre><code class="language-python">
  import pygame
  import random
  
  WIDTH = 1280
  HEIGHT = 620
  SPEED = 5
  
  pygame.init()
  screen = pygame.display.set_mode((WIDTH, HEIGHT))
  clock = pygame.time.Clock()
  
  ballon = pygame.image.load('img/ballon.png').convert_alpha()
  ballons_rect = []
  for _ in range(5):
      ballon_rect = ballon.get_rect(center=(random.randint(50, WIDTH - 50), 
          random.randint(50, HEIGHT - 50)))
      ballons_rect.append(ballon_rect)
  
  bird_fw_1 = pygame.image.load('img/bird1.png').convert_alpha()
  bird_fw_2 = pygame.image.load('img/bird2.png').convert_alpha()
  bird_fw_3 = pygame.image.load('img/bird3.png').convert_alpha()
  bird_fw_4 = pygame.image.load('img/bird4.png').convert_alpha()
  birds_fw = [bird_fw_1, bird_fw_2, bird_fw_3, bird_fw_4]
  bird_b_1 = pygame.image.load('img/bird1back.png').convert_alpha()
  bird_b_2 = pygame.image.load('img/bird2back.png').convert_alpha()
  bird_b_3 = pygame.image.load('img/bird3back.png').convert_alpha()
  bird_b_4 = pygame.image.load('img/bird4back.png').convert_alpha()
  birds_b = [bird_b_1, bird_b_2, bird_b_3, bird_b_4]
  
  bird_x = WIDTH / 2
  bird_y = HEIGHT / 2
  bird_index = 0
  
  counter = 0
  forward = True
  running = True
  while running:
      for event in pygame.event.get():
          if event.type == pygame.QUIT:
              running = False
  
      keys = pygame.key.get_pressed()
      if keys[pygame.K_RIGHT] and bird_rect.right <= WIDTH:
          forward = True
          bird_x += SPEED
      elif keys[pygame.K_LEFT] and bird_rect.left >= 0:
          forward = False
          bird_x -= SPEED
  
      if keys[pygame.K_UP] and bird_rect.top >= 0:
          bird_y -= SPEED
      elif keys[pygame.K_DOWN] and bird_rect.bottom <= HEIGHT:
          bird_y += SPEED
  
      screen.fill((140, 137, 246))
  
      counter += 1
      if counter % 7 == 0:
          bird_index += 1
      if bird_index > len(birds_fw) - 1:
          bird_index = 0
  
      if forward:
          bird_rect = birds_fw[bird_index].get_rect(center=(bird_x, bird_y))
          screen.blit(birds_fw[bird_index], bird_rect)
      else:
          bird_rect = birds_b[bird_index].get_rect(center=(bird_x, bird_y))
          screen.blit(birds_b[bird_index], bird_rect)
  
      for index, ballon_rect in enumerate(ballons_rect):
          if ballon_rect.colliderect(bird_rect):
              del ballons_rect[index]
          else:
              screen.blit(ballon, ballon_rect)
  
      pygame.display.update()
      clock.tick(60)
    
    pygame.quit()
    </code></pre>
  Bár ezen fejezet videóiban a képek betöltésekor nem használtam a
  .convert_alpha() metódust, de azért természetesen ennek használata javasolt!
</div>

<div id="feladatok" class="tabcontent">
  <b>1.1 Feladat</b><br />
  Fejleszd tovább a videóban bemutatott - és a Példák részben letölthető -
  'Madár és az 5 lufi' című kódot úgy, hogy a lufik lassan emelkedjenek, és akár
  el is hagyják felfelé a játékablakot!
  <hr />
  <br /><br />
  <b>1.2 Feladat</b><br />
  Fejleszd tovább az előző kódot úgy, hogy a lufik kis mértékben oldalra is
  mozogjanak, illetve amikor elhagyják a játékablakot, akkor törlődjenek a
  listából!
</div>
