<div class="submenu-title">Színbeállítás</div>

<div>
  <b>Vonalszín</b>
  <div class="t-code">
    turtle.pencolor(*args)<br />
    nincs megadva argumentum: az aktuális értékkel tér vissza <br />
    szín-sztring: például "red", "yellow", "#33cc8c" <br />
    szín-tuple: például (125, 30, 170) <br />
    RGB értékek: vörös, zöld és kék 0-255 közötti értékei
  </div>
  <br /><b>Kitöltőszín</b>
  <div class="t-code">
    turtle.fillcolor(*args)<br />
    nincs megadva argumentum: az aktuális értékkel tér vissza <br />
    szín-sztring: például "red", "yellow", "#33cc8c" <br />
    szín-tuple: például (125, 30, 170) <br />
    RGB értékek: vörös, zöld és kék 0-255 közötti értékei
  </div>
  <br /><b>Vonal és kitöltőszín</b>
  <div class="t-code">
    turtle.color(*args)<br />
    nincs megadva argumentum: az aktuális értékkel tér vissza <br />
    szín-sztring: például "red", "yellow", "#33cc8c" <br />
    szín-tuple: például (125, 30, 170) <br />
    RGB értékek: vörös, zöld és kék 0-255 közötti értékei
  </div>
  <pre><code class="language-python">
  turtle.color("red", "green")
  turtle.color()
  </code></pre>
  <br /><br />
</div>
