.sidebar {
  height: 100%;
  font-weight: 700;
  padding-right: 0;
  margin-right: 16px;
  width: 350px;
  /* border: 1px solid red; */
}
#switcher {
  /* margin-top: 20px; */
  padding: 20px 10px;
  font-weight: 400;
  border-bottom: 1px solid #ebf2f2;
}
#switcher label {
  margin-left: 82px;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 5px 10px;
}
a:hover {
  background-color: #126372;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
a.active {
  background-color: #24313d;
  color: #01d309;
  border-radius: 5px;
  padding: 5px 10px;
}

.sidebar-title {
  text-align: right;
  display: block;
  margin: 5px 5px;
  color: #24313d6b;
  letter-spacing: 2px;
}

.menu {
  list-style: none;
  padding-left: 0px;
  font-weight: 700;
}

.unit {
  border: #11323441 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submenu {
  font-weight: 400;
  list-style: none;
  display: none;
}
.on {
  display: block !important;
}

.menu li {
  position: relative;
}
.menu li span {
  position: absolute;
  right: 10px;
  font-size: 24px;
}

/* W3 Schools */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #24313d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #01d309;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + i .slider {
  background-color: white;
}

input:focus + i .slider {
  box-shadow: 0 0 1px grey;
}

input:checked + i .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Badge */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-pill {
  padding-right: 0.8em;
  padding-left: 0.6em;
  border-radius: 10rem;
  margin-left: 5px;
}

.badge-primary {
  color: #1e415d;
  background-color: #ffdc53;
}

.badge-secondary {
  background-color: #1e415d;
  border: #ffdc53 1px solid;
  color: #ffdc53;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
    color: gray;
  }
  43% {
    top: -0.9em;
    color: gray;
    /* background-color: #ffdc53;
    color: #1e415d; */
  }
  46% {
    top: 0em;
    color: gray;
    /* background-color: #ffdc53;
    color: #1e415d; */
  }
  48% {
    top: -0.4em;
    color: gray;
    /* background-color: #ffdc53;
    color: #1e415d; */
  }
  50% {
    top: 0em;
    background-color: #ffdc53;
    color: #1e415d;
  }
  100% {
    top: 0em;
  }
}
#wt:hover {
  background-color: #1e415d;
}
