<div id="sidebar" class="sidebar" *ngIf="!isSmallDevice || sidebarMobileOn">
  <div id="switcher" *ngIf="!isSmallDevice">
    Összes almenü {{ toggleText
    }}<label class="switch">
      <input type="checkbox" (change)="toggle()" />
      <i><span class="slider"></span></i>
    </label>
  </div>
  <ul class="menu">
    <li>
      <a
        routerLink="/bevezetes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          Bevezetés<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/bevezetes/kezdes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Hol kezd el?</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a
        routerLink="/alapok"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          1. Alapok<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/alapok/elso_program"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Első program</a
          >
        </li>
        <li>
          <a
            routerLink="/alapok/szinkezeles"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Színek használata</a
          >
        </li>
        <li>
          <a
            routerLink="/alapok/rajzolas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Rajzolás</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        routerLink="/animacio"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          2. Animáció<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/animacio/mozgas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mozgás és időzítés</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/kep"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Képek</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/rect"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Rect</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/mozgasfazisok"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mozgásfázisok</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/feliratok"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Feliratok</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        routerLink="/iranyitas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          3. Irányítás és ütközés<span
            class="test fas fa-angle-right"
          ></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/iranyitas/billentyuzet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Irányítás billentyűzettel</a
          >
        </li>
        <li>
          <a
            routerLink="/iranyitas/utkozes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Ütközés</a
          >
        </li>
        <li>
          <a
            routerLink="/iranyitas/eger"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Irányítás egérrel</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        routerLink="/balloon"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          4. Első komplett játék<span
            class="test fas fa-angle-right"
          ></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/balloon/balloon01"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Aktív játékállapot</a
          >
        </li>
        <li>
          <a
            routerLink="/balloon/balloon02"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Nem aktív játékállapot</a
          >
        </li>
        <li>
          <a
            routerLink="/balloon/balloon03"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Függvények használata</a
          >
        </li>
      </ul>
    </li>

    <li>
      <a
        routerLink="/oop"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          5. Objektumorientált játékfejlesztés<span
            class="test fas fa-angle-right"
          ></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/oop/sprite"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Sprite class</a
          >
        </li>

        <li>
          <a
            routerLink="/oop/spritecollide"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Spritecollide</a
          >
        </li>

        <li>
          <a
            routerLink="/oop/ugras"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Ugrás képessége</a
          >
        </li>
        <li>
          <a
            routerLink="/oop/tovabbi_funkciok"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >További funkciók</a
          >
        </li>
      </ul>
    </li>

    <!-- <li>
      <div class="menu-head-soon" style="margin-left: 10px">
        6. Platformjáték<i class="badge badge-primary badge-pill">hamarosan </i>
      </div>
    </li> -->
    <li>
      <a
        routerLink="/platformjatek"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          6. Platformjáték<i class="badge badge-primary badge-pill"
            >Új fejezet! </i
          ><span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/platformjatek/palya"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Pálya létrehozása</a
          >
        </li>
        <li style="margin-left: 10px">
          Játékos a pályán<i class="badge badge-primary badge-pill"
            >hamarosan
          </i>
        </li>
        <!-- <li>
          <a
            routerLink="/platformjatek/jatekos"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Játékos a pályán</a
          >
        </li>
        <li>
          <a
            routerLink="/platformjatek/scroll"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Játékablak mozgatása</a
          >
        </li>
        <li>
          <a
            routerLink="/platformjatek/jatekos_animacio"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Játékos mozgásának animálása</a
          >
        </li> -->
      </ul>
    </li>
  </ul>
</div>

<!-- <li style="margin-left: 10px">
  Függvények használata<i class="badge badge-primary badge-pill"
    >hamarosan
  </i>
</li> -->
