<div id="sidebar" class="sidebar" *ngIf="!isSmallDevice || sidebarMobileOn">
  <div id="switcher" *ngIf="!isSmallDevice">
    Összes almenü {{ toggleText
    }}<label class="switch">
      <input type="checkbox" (change)="toggle()" />
      <i><span class="slider"></span></i>
    </label>
  </div>
  <ul class="menu">
    <li>
      <a
        routerLink="/bevezetes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          Bevezetés<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/bevezetes/kezdes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Hol kezd el?</a
          >
        </li>
        <!-- <li>
          <a
            routerLink="/bevezetes/online"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Online Turtlekód-szerkesztők</a
          >
        </li>
        <li>
          <a
            routerLink="/bevezetes/tanaroknak"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Turtle a Python tanításban</a
          >
        </li> -->
      </ul>
    </li>

    <li>
      <a
        routerLink="/alapok"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          1. Alapok<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/alapok/elso_program"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Első program</a
          >
        </li>
        <li>
          <a
            routerLink="/alapok/szinkezeles"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Színek használata</a
          >
        </li>
        <li>
          <a
            routerLink="/alapok/rajzolas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Rajzolás</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        routerLink="/animacio"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          2. Animáció<span class="test fas fa-angle-right"></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/animacio/mozgas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mozgás és időzítés</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/kep"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Képek</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/rect"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Rect</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/mozgasfazisok"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mozgásfázisok</a
          >
        </li>
        <li>
          <a
            routerLink="/animacio/feliratok"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Feliratok</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a
        routerLink="/iranyitas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          3. Irányítás és ütközés<span
            class="test fas fa-angle-right"
          ></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/iranyitas/billentyuzet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Irányítás billentyűzettel</a
          >
        </li>
        <li>
          <a>Ütközés<i class="badge badge-primary badge-pill">hamarosan </i></a>
        </li>
        <!-- <li>
          <a
            routerLink="/iranyitas/utkozes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Ütközés</a
          >
        </li>
        <li>
          <a
            routerLink="/iranyitas/eger"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Irányítás egérrel</a
          >
        </li> -->
      </ul>
    </li>
    <li>
      <a
        routerLink="/balloon"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><div class="menu-head">
          4. Első komplett játék<span
            class="test fas fa-angle-right"
          ></span></div
      ></a>
      <ul class="submenu">
        <li>
          <a
            routerLink="/balloon/balloon01"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Aktív játékállapot</a
          >
        </li>
        <li>
          <a
            routerLink="/balloon/balloon02"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Nem aktív játékállapot</a
          >
        </li>
        <li>
          <a
            routerLink="/balloon/balloon03"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Függvények használata</a
          >
        </li>
      </ul>
    </li>
    <!-- <li>
      <a href="">
        <div class="menu-head-soon">
          3. Írányítás és ütközés<i class="badge badge-primary badge-pill"
            >hamarosan
          </i>
        </div></a
      >
    </li> -->
  </ul>
</div>
