<div class="menu-title">Irányítás és ütközés</div>
<div class="game-box">
  <div>
    <br />
    <ul>
      <li>Hogyan írányíthatjuk a játékelemek mozgását billentyűzettel?</li>
      <li>Irányítás és animált mozgás egyszerre</li>
      <li>Játékelemek ütközésének figyelése</li>
      <li>Hogyan írányíthatjuk a játékelemek mozgását egérrel?</li>
    </ul>
    <br /><br />
  </div>
  <!-- <img id="ghost" src="./../../../../../assets/images/g-ghost.svg" alt="" />
  <img id="health" src="./../../../../../assets/images/g-health.svg" alt="" /> -->
</div>
