<div class="button-line">
  <div class="button" (click)="onClick($event, 'video')" id="video-gomb">
    <div class="icon">
      <img src="./../../../../assets/images/t-video.svg" alt="" />
    </div>
    <div class="button-text">Videó</div>
  </div>
  <div class="button" (click)="onClick($event, 'peldak')" id="peldak-gomb">
    <div class="icon">
      <img src="./../../../../assets/images/t-pelda.svg" alt="" />
    </div>
    <div class="button-text">Példák</div>
  </div>
  <div
    class="button"
    (click)="onClick($event, 'feladatok')"
    id="feladatok-gomb"
  >
    <div class="icon">
      <img src="./../../../../assets/images/t-feladat.svg" alt="" />
    </div>
    <div class="button-text">Feladatok</div>
  </div>
  <!-- <div class="button" (click)="onClick($event, 'extra')" id="extra-gomb">
    <div class="icon">
      <img src="./../../../../assets/images/cup.svg" alt="" />
    </div>
    <div class="button-text">Extra</div>
  </div> -->
</div>
