<div class="office-title">Tanároknak</div>
<div class="office-box">
  <ul>
    <li>
      <div class="toggle-head" (click)="toggleSubmenu($event)">
        Miért a suliPY?
        <div class="push"></div>
        <span class="fas fa-angle-right"></span>
      </div>
      <div class="toggle-content">
        A suliPY videóanyagai lehetővé teszik az új ismeretek - akár egyéni -
        elsajátítását, a feladatok pedig ezen ismeretek begyakorlását. Az
        'Extra' nevű tanítási egységek tartalmának fejlesztése is kiemelt cél.
        Mindezek alapján reményeim szerint hasznos lehet
        <ul>
          <li>- a diák hiányzása,</li>
          <li>- digitális oktatás,</li>
          <li>- több gyakorlást igénylő diákok felzárkoztatása,</li>
          <li>- tehetséggondozás</li>
          esetén is.
        </ul>
        <br /><br />
      </div>
    </li>
    <li>
      <div class="toggle-head" (click)="toggleSubmenu($event)">
        Tananyagtartalom
        <div class="push"></div>
        <span class="fas fa-angle-right"></span>
      </div>
      <div class="toggle-content">
        A suliPY 1-6. fejezetei mind tartalmában, mind szerkezetében igazodnak a
        'Digitális kultúra' nevű középiskolai tantárgy 9. évfolyamra
        meghatározott 'Algoritmizálás, formális programozási nyelv használata'
        című egységéhez. Minimális eltérés a sorrendben és tartalomban a
        tankönyvhöz képest csak ott jelenik meg, ahol ez didaktikailag
        feltétlenül szükségesenk tűnt. <br /><br />
        A 7. fejezettel már a 10. évfolyamos tananyag feldolgozása kezdődik.
        Ennek a résznek az összehangolása az időközben megjelent tankönyvvel
        2021. nyarán történik meg.
        <br /><br />
        A fejezetek Extra részében, illetve a PRO cimkével megjelölt egységekben
        olyan ismeretek kerülnek bemutatásra, amelyekre a tankönyv nem tér ki, a
        tananyagnak nem része.
      </div>
    </li>
    <li>
      <div class="toggle-head" (click)="toggleSubmenu($event)">
        Miért a Thonny, mint első fejlesztői környezet?
        <div class="push"></div>
        <span class="fas fa-angle-right"></span>
      </div>
      <div class="toggle-content">
        A Thonny nevű fejleszői környezet hasonlóan egyszerű felépítésű, mint az
        IDLE, de annál véleményem szerint könnyebben személyre szabható a
        felülete, esztétikusabb, és a hibakeresési funkciói jobban segítik a
        tanítás / tanulás folyamatát. Mindezek figyelembe vételével talán
        alkalmasabb a programozással csak most ismerkedők számára.<br /><br />
        Azon diákok számára, akik emelt szintű érettségit szeretnének tenni,
        valószínűleg nem okoz gondot egy komplexebb fejlesztői környezetre (pl.
        PyCharm-ra) való későbbi áttérés. A suliPY oldal használata során a
        diákok amúgy is megismernek legalább egy másik fejlesztői környezetet a
        REPL.IT-et.
      </div>
    </li>
    <li>
      <div class="toggle-head" (click)="toggleSubmenu($event)">
        Minden tanulási egység közvetlen URL-lel ...
        <div class="push"></div>
        <span class="fas fa-angle-right"></span>
      </div>
      <div class="toggle-content">
        A suliPY platform leckéinek minden alfejezete (videó, példák, feladatok,
        extra) saját egyedi URL-lel rendelkezik, így a virtuális tantermekbe is
        könnyen integrálható.
      </div>
    </li>
    <li>
      <div class="toggle-head" (click)="toggleSubmenu($event)">
        Hogyan értesülhetek a tartalom bővüléséről?
        <div class="push"></div>
        <span class="fas fa-angle-right"></span>
      </div>
      <div class="toggle-content">
        Ha szeretnél értesülni a tartalom bővüléséről, jelöld meg követésre a
        suliPY
        <a
          href="https://www.facebook.com/Sulipy-106846017889800"
          target="_blank"
          >Facebook</a
        >
        oldalt, és iratkozz fel a
        <a
          href="https://www.youtube.com/channel/UCQyut5y2NnWs_OKD35SWdMw"
          target="_blank"
          >YouTube</a
        >
        csatornára!
        <br /><br />
      </div>
    </li>
  </ul>
</div>
