<div class="menu-title">Első komplett játék</div>
<div class="game-box">
  <div>
    <p>
      Ebben a fejezetben elkészítjük az első teljes játékunkat. A "Lufik a
      célkeresztben" játék alapötletét fejlesztjük tovább, azért, hogy az új
      ismeretek maradjanak a fókuszban, és ne vesszünk el a sok információ
      között.
    </p>
    <p>
      Ebben a komplett játékban sok újsdonság előkerül. Talán a legfonotsabb az,
      hogy a játék esetében létrehozunk egy <b>AKTÍV</b> és egy
      <b>NEM AKTÍV</b> állapotot, majd ezekhez kapcsolódóan bővítjüka
      funkciókat.
    </p>
    <br />
    <b>AKTÍV állapot új funkciói:</b>
    <ul>
      <li>Időzítés: set_timer()</li>
      <li>Játékidő mérése és megjelenítése</li>
      <li>Lufik emelkedése és oldalirányú mozgása</li>
      <li>Játékteret elhagyó lufik törlése</li>
      <li>Pontok számlálása és megjelenítése</li>
    </ul>
    <br />
    <b>NEM AKTÍV állapot új funkciói:</b>
    <ul>
      <li>Nyitó / záróképernyő</li>
      <li>Végső pontszám megjelenítése</li>
      <li>Játék inditása</li>
    </ul>
    <br /><br />
  </div>
  <!-- <img id="ghost" src="./../../../../../assets/images/g-ghost.svg" alt="" />
  <img id="health" src="./../../../../../assets/images/g-health.svg" alt="" /> -->
</div>
