@keyframes move {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 90%;
  }
  100% {
    margin-left: 0%;
  }
}

img {
  height: 40px;
  animation-name: move;
  animation-duration: 20s;
  animation-delay: 2s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
}
