.button-line {
  display: flex;
  flex-wrap: wrap;
}

.button {
  flex-grow: 1;
  flex-basis: 150px;
  margin: 5px 5px;
  background-color: rgb(59, 147, 187);
  border: var(--bg-color) 3px solid;
  border-radius: 5px;
  /* box-shadow: #3b3b3b 5px 5px 1px; */
  /* min-width: 150px; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}
.button:active {
  background-color: var(--g-bg-secondary);
}
.active {
  border: var(--bg-color) 3px solid;
  background-color: var(--g-bg-secondary);
  /* box-shadow: rgb(161, 161, 161) 0px 3px 2px; */
  box-shadow: inset rgb(68, 67, 67) 0px 0px 15px;
}
.icon {
  height: 32px;
  margin-right: 10px;
  margin-left: 10px;
}
.button-text {
  color: var(--g-bg);
  text-align: center;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .button-line {
    justify-content: center;
  }
  .button {
    flex-basis: none;
    flex-grow: 1;
    margin: 4px 4px;
    max-width: 120px;
  }
  .button:nth-child(3) {
    max-width: 140px;
  }
  .button:hover {
    font-size: 16px;
  }
  .icon {
    height: 32px;
  }
}
